---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Delegar agendamento",
    description:
      "Permita que os convidados escolham entre os horários de reunião disponíveis. Nenhuma ação necessária do seu lado. Basta enviar um link de convite.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Integre todos os calendários",
    description:
      "Conecte Google, Outlook/Office 365, iCloud, Zimbra, Zoho e outras soluções CalDAV. Escolha um agendador de reuniões completo para governá-los.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Gerencie todas as reuniões em um só lugar",
    description:
      "Acesse todas as reuniões e calendários de um aplicativo de agendamento. Economize tempo e evite confusão.",
    icon: "bx:bxs-data",
  },
  {
    title: "Conecte seus aplicativos favoritos",
    description:
      "Integre a agenda com outras plataformas populares. A lista de integrações inclui Slack, MailChimp, Google Sheets, Pipedrive, Wordpress e muito mais!",
    icon: "bx:bxs-bot",
  },
  {
    title: "Agendar videoconferências",
    description:
      "Nossa integração com Zoom, Microsoft Teams, Whereby, Kopano Meet ou Google Meet gera um link de videoconferência exclusivo para cada reunião.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Funcionamos online e offline",
    description:
      "Não necessitamos de internet para fazer agendamentos.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Pronto para aproveitar ao máximo as reuniões?
  </h2>
  <p class="text-lg mt-4 text-slate-600">    
    Tudo que você precisa em um único lugar
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
